//variables
$tuna: #383744;
$goldenTainoi: #FFC857;
$gallery: #F0F0F0;
$givry: rgba(248, 228, 188, 0.75);

//styles
@import "App.scss";
@import "login.scss";
@import "header.scss";
@import "cardTask.scss";
@import "tasks.scss";
@import "taskCreator.scss";
@import "scrum.scss";